<%-include('includes/head',{pageTitle:'An error occured'})%>
</head>
<body>
    <%-include('includes/header')%>
    <main>
        <h1>Not Authenticated</h1>
        <p>Woah Woah Woah!!! What are you trynna do here huhhh! get Out!!!! im not kidding get oooooooouuuuuuuutttttttt!!!!!! </p>
        <a href="/" class="btn">Back to where you belong</a>
    </main>
<%-include('includes/footer')%>