<%-include('includes/head',{pageTitle:'An error occured'})%>
</head>
<body>
    <%-include('includes/header')%>
    <main>
        <h1>Not Authorised</h1>
        <p>Trying to be sneaky huhh?? do things only you are authorised to do don't try to become a robin hood</p>
        <a href="/" class="btn">Back to Safety</a>
    </main>
<%-include('includes/footer')%>