<%-include('includes/head',{pageTitle:'An error occured'})%>
</head>
<body>
    <%-include('includes/header')%>
    <main>
        <h1>Could not find the Resource</h1>
        <p>Unfortunately We could not find the resource you were looing for</p>
        <a href="/" class="btn">Back to Safety</a>
    </main>
<%-include('includes/footer')%>