<%-include('includes/head',{pageTitle:'An error occured'})%>
</head>
<body>
    <%-include('includes/header')%>
    <main>
        <h1>Something went Wrong!!!</h1>
        <p>Unfortunately Something Went wrong please try again later!!</p>
        <a href="/" class="btn">Back to Homepage</a>
    </main>
<%-include('includes/footer')%>