<%-include('../../shared/includes/head',{pageTitle:'Add new product'})%>
<link rel="stylesheet" href="/styles/forms.css">
<script src="/scripts/image-preview.js" defer></script>
</head>
<body>
    <%-include('../../shared/includes/header')%>
    <main id="main">
        <h1>Add new product</h1>
        <%-include('includes/product-form',{submitPath:'/admin/products',product:{
            title: '',
            summary:'',
            description:'',
            price:''
        },
            imageRequired:true})%>
    </main>
<%-include('../../shared/includes/footer')%></body>